/dist/
.idea/
/node_modules/

.DS_Store

/public/.azure/

/public/build/

.DS_Store

.vscode/

!.vscode/settings.json

.env.*

/screenshots/
/src/.DS_Store
/playwright-report/
/test-results/
/ml4f-output/
/android/app/src/main/assets/public
/ios/App/App/public

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Gemfile.lock
