.carouselButton {
  position: absolute;
  z-index: 5;
  top: calc(var(--carousel-pt) - 6px);
  bottom: calc(var(--carousel-pb) - 6px);
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &:global(.swiper-button-disabled) {
    display: none;
  }
}
