.root {
  --carousel-px: 12px;
  --carousel-pt: 1rem;
  --carousel-pb: 12px;
  @media (min-width: 768px) {
    --carousel-px: 20px;
  }
  li > div {
    height: 100%;
    width: 260px;
  }
  &:global(.swiper) {
    padding: var(--carousel-pt) var(--carousel-px) var(--carousel-pb);
  }
}
