.flash-animation {
  -webkit-animation: flash 2s;
  animation: flash 2s;
}
@-webkit-keyframes flash {
  0%,
  10% {
    background-color: #4040ff44;
  }
  100% {
  }
}
@keyframes flash {
  0%,
  10% {
    background-color: #4040ff44;
  }
  100% {
    border: 5px solid transparent;
  }
}
