.flash-animation {
  -webkit-animation: flash 3s;
  animation: flash 3s;
}
@-webkit-keyframes flash {
  0% {
    border: 3px solid #4040ff44;
    background-color: #0000ff07;
  }
  100% {
    border: 3px solid transparent;
  }
}
@keyframes flash {
  0% {
    border: 3px solid #4040ff44;
    background-color: #0000ff07;
  }
  100% {
    border: 3px solid transparent;
  }
}
