/* Fixes flickering when using loop={true} - see https://github.com/nolimits4web/swiper/issues/3527 */
:global .swiper-slide {
  transform: translate3d(0, 0, 0) translateZ(0) !important;
}

.carouselContainer {
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  --swiper-theme-color: black;
  --swiper-navigation-size: 50;

  ul {
    margin: 0;
  }
}
